[{edis, [{listener_port_range, {6382, 6382}}, {backend, {edis_cache_backend, [
        {riak_host, "127.0.0.1"},
        {riak_port, 8087}] }}]},
 {lager, [
          {handlers,
           [
            {lager_console_backend, [debug,true]}
           ]}
         ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/cache.edis.sasl.log"}}]}].
