[{edis, [{listener_port_range, {6384, 6385}}, {backend, {edis_ets_backend, []}}]},
 {lager, [
          {handlers,
           [
            {lager_console_backend, [debug,true]}
           ]}
         ]},
 {sasl, [{errlog_type, all},
         {sasl_error_logger, {file, "logs/pd.edis.sasl.log"}}]}].
